@tailwind base;
@tailwind components;
@tailwind utilities;

/* Override MUI Toggle Button styling when active */
button.MuiToggleButton-root.Mui-selected {
    border: 2px solid #dc3b3b !important;
}

button.MuiToggleButton-root {
    border: none;
}

@layer components {
    .sidebar-btn {
        @apply flex items-center align-middle mb-4 h-12 justify-center text-graytext dark:text-white /* Mobile screens < 640px */
        sm:mb-4 sm:pl-[20px] sm:rounded-md sm:p-4 sm:text-sm sm:justify-start /* Screens larger than 640px */
        transition-all ease-linear duration-150;
    }
    .sidebar-btn:hover {
        @apply border-l-4 border-l-redtheme dark:hover:border-l-white sm:dark:hover:border-l-redtheme
        sm:dark:bg-gradient-to-r sm:dark:from-[#2C2C2C] sm:dark:via-[#1D1D1D] sm:dark:to-dark
        dark:bg-gradient-to-r dark:from-dark dark:via-[#1D1D1D] dark:to-darkbg /* darkmode on small devices */
        bg-gradient-to-r sm:from-[#ffffff] sm:via-[#F9FCFD] sm:to-lightbg /* lightmode on large devices */
        from-lightbg via-[#F9FCFD] to-[#ffffff] /* lightmode on small devices */
        sm:border-l-8; /* Screens larger than 640px */
    }
    /* Used to show an active page by adding a border to the button */
    .sidebar-btn-active {
        /* On small screens, only display icons no text */
        @apply flex items-center align-middle mb-4 h-12 justify-center text-redtheme dark:text-white
        sm:mb-4 sm:border-l-8 sm:pl-[12px] sm:rounded-md sm:text-sm  sm:justify-start   /* Screens larger than 640px */
        border-l-4 border-l-redtheme dark:border-l-white
        sm:dark:border-redtheme sm:dark:bg-gradient-to-r sm:dark:from-[#2C2C2C] sm:dark:via-[#1D1D1D] sm:dark:to-dark /* darkmode large devices */
        dark:bg-gradient-to-r dark:from-dark dark:via-[#1D1D1D] dark:to-darkbg /* darkmode on small devices */
        bg-gradient-to-r sm:from-[#ffffff] sm:via-[#F9FCFD] sm:to-lightbg /* lightmode on large devices */
        from-lightbg via-[#F9FCFD] to-[#ffffff] /* lightmode on small devices */
        transition-all ease-linear duration-150;
    }
    .icon-size {
        @apply w-[30px] h-[30px] sm:w-[24px] sm:h-[24px] align-middle sm:mr-10 dark:text-white text-graytext;
    }
    .icon-size-active {
        @apply w-[30px] h-[30px] sm:w-[24px] sm:h-[24px] align-middle sm:mr-10 text-redtheme sm:text-redtheme dark:sm:text-white;
    }
    .sidebar-text {
        /* On small screens, only display icons no text */
        @apply hidden sm:block;
    }
    .btn {
        @apply p-2 transition-all duration-200 ease-linear border-2 rounded-lg border-redtheme hover:border-redtheme hover:bg-redtheme active:bg-reddark active:border-reddark;
    }
}
